body {
    background-color: #f5f0f6;
}

ol li {
    list-style-type: none;
}

.door {
    width: 6em;
    height: 9em;
    background-color: #d7b377;
}

.door:hover {
    background-color: #8f754f;
}

.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000000; */
}

#doors {
    height: 9em;
    width: 20em;
    display: grid;
    grid-template-columns: repeat(3, 7em);
    /* text-align: center; */
    padding: 1em 1em 1em 1em;
    /* margin: 1em 1em 1em 1em; */
    /* border: 1px solid black; */
}

table {
    border: 1px solid #dfd9e0;
    text-align: center;
    font-family: Georgia, serif;
}

td, th {
    width: 9em;
    height: 3em;
}

th {
    border-radius: 1em;
    background-color: #ede7f0;
    border: 1px dashed #dfd9e0;
}